<div class="card">
  
    <!--Card content-->
    <div class="card-body">
      <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Summary</h4>

      <hr>

      <dl class="row">
        <dd class="col-sm-8">
          MDBootstrap UI KIT (jQuery version) - License 6-10 people + unlimited projects
        </dd>
        <dd class="col-sm-4">
          $ 2000
        </dd>
      </dl>

      <hr>

      <dl class="row">
        <dd class="col-sm-8">
          Premium support - 2 years
        </dd>
        <dd class="col-sm-4">
          $ 2000
        </dd>
      </dl>

      <hr>

      <dl class="row">
        <dd class="col-sm-8">
          MDB Membership - 2 years
        </dd>
        <dd class="col-sm-4">
          $ 2000
        </dd>
      </dl>

      <hr>

      <dl class="row">
        <dt class="col-sm-8">
          Total
        </dt>
        <dt class="col-sm-4">
          $ 2000
        </dt>
      </dl>
    </div>

  </div>
