<div class="user-profile">
    <div class="row">
        <!--col 1 start -->
        <div class="col-xs-12 col-sm-3 center">
            <div class="card" id="profile-picture">
                <img class="card-img-top" class="user img" alt=" Avatar" id="avatar2"
                    src="../../../assets/img/example.jpg" style="height:100; width:100%">
            </div>

            <div class="space space-4"></div>

            <form>
                <div class="custom-file">
                    <span class="glyphicon glyphicon-camera">Upload Image</span>
                    <input type="file" name="" />
                </div>
            </form>

            <a href="#" class="btn btn-sm btn-block btn-primary">
                <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                <span class="bigger-110">Edit Progile</span>
            </a>
        </div>
        <!-- col 1 end -->

        <!-- col 2 start -->
        <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
                {{currentUser.username}}
            </h4>

            <div class="profile-user-info">

                <div class="profile-info-row">
                    <div class="profile-info-name"> Location </div>

                    <div class="profile-info-value">
                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                        <span>Egypt</span>
                        <span>Cairo</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Joined </div>

                    <div class="profile-info-value">
                        <span>[date]</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Last Online </div>

                    <div class="profile-info-value">
                        <span>[time]</span>
                    </div>
                </div>
            </div>

            <div class="hr hr-8 dotted"></div>

            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Email </div>

                    <div class="profile-info-value">
                        <a href="#" target="_blank"> {{currentUser.email}}</a>
                    </div>
                </div>

            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="space-20"></div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                    <h4 class="widget-title smaller">
                        <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                        Add a short bio to tell people more about yourself.
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <p>
                            [bla bla bla]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>