.container {
    position: relative;
    text-align: center;
    color: brown;
  }
  
  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 450px;
    left: 150px;
    font-size: 40px;
    font-style: oblique;
  }