<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="" routerLinkActive="active">Galleria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="products">
          <img src="/assets/img/house.svg" routerLink="" routerLinkActive="active" width="32" height="32" title="Home">
           <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item toggle">
        <a class="nav-link" routerLink="/profile/1" routerLinkActive="active"><img src="/assets/img/person.svg" alt="" width="32" height="32" title="Profile"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#"><img src="/assets/img/heart.svg" alt="" width="32" height="32" title="Wishlist"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu row" aria-labelledby="navbarDropdown">
        
          <div class="container">
            <ul class="nobull">
              <a class="col-md-3 font-weight-bold link" href="product/1/">Electronics</a>
              <li><a class="col-md-3 link" href="product/2/">Laptops</a></li>
              <li><a class="col-md-3 link" href="product/3/">Mobile Phones</a></li>
              <li><a class="col-md-3 link" href="product/4/">Televisions</a></li>
              <li><a class="col-md-3 link" href="product/5/">Refrigerators</a></li>
              <!--<a class="col-md-3 font-weight-bold link" [routerLink]="['product',1]">Electronics</a> 
              <li><a class="col-md-3 link" [routerLink]="['product',2]">Laptops</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',3]">Mobile Phones</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',4]">Televisions</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',5]">Refrigerators</a></li> -->
            </ul>
            <ul class="nobull">
              <a class="col-md-3 font-weight-bold link" href="product/6/">Furniture</a>
              <li><a class="col-md-3 link" href="product/7/">Living Rooms</a></li>
              <li><a class="col-md-3 link" href="product/8/">Bedrooms</a></li>
              <li><a class="col-md-3 link" href="product/9/">Kitchens</a></li>
              <li><a class="col-md-3 link" href="product/10/">Kids Rooms</a></li>
              <!-- <a class="col-md-3 font-weight-bold link" [routerLink]="['product',6]">Furniture</a>
              <li><a class="col-md-3 link" [routerLink]="['product',7]">Living Rooms</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',8]">Bedrooms</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',9]">Kitchens</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',10]">Kids Rooms</a></li> -->
            </ul>
            <ul class="nobull">
              <a class="col-md-3 font-weight-bold link" href="product/11/">Health&Care</a>
              <li><a class="col-md-3 link" href="product/12/">Diet Food</a></li>
              <li><a class="col-md-3 link" href="product/13/">Gym&Sports</a></li>
              <li><a class="col-md-3 link" href="product/14/">Facial Care</a></li>
              <li><a class="col-md-3 link" href="product/15/">Makeup</a></li>
              <!-- <a class="col-md-3 font-weight-bold link" [routerLink]="['product',11]">Health&Care</a>
              <li><a class="col-md-3 link" [routerLink]="['product',12]">Diet Food</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',13]">Gym&Sports</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',14]">Facial Care</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',15]">Makeup</a></li> -->
            </ul>
            <ul class="nobull">
              <a class="col-md-3 font-weight-bold link" href="product/16/">Clothing</a>
              <li><a class="col-md-3 link" href="product/17/">Women</a></li>
              <li><a class="col-md-3 link" href="product/18/">Men</a></li>
              <li><a class="col-md-3 link" href="product/19/">Girls</a></li>
              <li><a class="col-md-3 link" href="product/20/">Boys</a></li>
              <!-- <a class="col-md-3 font-weight-bold link" [routerLink]="['product',16]">Clothing</a>
              <li><a class="col-md-3 link" [routerLink]="['product',17]">Women</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',18]">Men</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',19]">Girls</a></li>
              <li><a class="col-md-3 link" [routerLink]="['product',20]">Boys</a></li> -->
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cart/" routerLinkActive="active"><img src="/assets/img/cart.png" alt="" width="32" height="32" title="Cart"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="search-product">
        <input class="input form-control mr-sm-2" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search by name or Prices ....." aria-label="Search">
      </div>
      <!-- <input class="input form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn button btn-outline-success my-2 my-sm-0" type="submit"><img src="/assets/img/search.svg" alt="" width="26" height="26" title="Search"></button>
      <svg class="bi bi-shield-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"></svg>
    </form>
    <button class="btn text button btn-outline-success my-2 my-sm-0" routerLink="login">Log In</button>
    <svg class="bi bi-shield-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"></svg>

    <button class="btn text button btn-outline-success my-2 my-sm-0" routerLink="signup">Sign Up</button>
  </div>


</nav>

    <!-- <div class="search-product">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder=" Start searching for a products by name or Prices .....">
    </div> -->
    
    <!-- <div class="container mt-5 mb-5">
      <div class="row">
        <div *ngFor="let product of products | filter:searchText | paginate: { itemsPerPage: count, currentPage: p }">
          <div class="col-md-4 mt-3">
            <div class="card h-100 " style="width: 18rem;">
              <img class="card-img-top img-thumbnail" style="max-height : 200px;" src="{{product.base_view}}"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.price}} EGP</p>
                <a [routerLink]="['/products',product.id]" class="btn btn-primary">Go TO Product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <pagination-controls (pageChange)="p = $event">
        </pagination-controls>
      </div>
    </div> -->
