<div class="container mt-5 mb-5">
        <div class="row">
                    <!-- Put Grid System-->
                    <!-- md== Merge-->
                    <div *ngFor="let product of products">
                      <div class="col-md-4 mt-3">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="assets/img/lap.jpg" alt="Card image cap">
                          <div class="card-body">
                            <!-- <h5 class="card-title">{{products.name}}</h5> -->
                            <!-- <p class="card-text">{{products.description}}</p> -->
                            <a routerLink="/product/1" class="btn btn-primary">Go somewhere</a>
                          </div>
                      </div>    
                      </div>
                    </div>
<!--                  
                      <div class="col-md-4 mt-3">
                        <app-card></app-card>      
                      </div>
                      
                      <div class="col-md-4 mt-3">
                        <app-card></app-card>  
                    </div>
                    
                    <div class="col-md-4 mt-3">
                        <app-card></app-card>  
                    </div>
                    
                    <div class="col-md-4 mt-3">
                        <app-card></app-card>  
                    </div>
                      
                    <div class="col-md-4 mt-3">
                        <app-card></app-card>  
                    </div>
                      
                    <div class="col-md-4 mt-3">
                        <app-card></app-card>  
                    </div>

      </div> 
    -->
  <div class="container">
  </div>
</div>