<br>
<br>
<div class="container h-100">
	<div class="row justify-content-md-center h-100">
		<div class="card-wrapper">
			<div class="card fat">
				<div class="card-body">
					<h4 class="card-title">Login</h4>


					<form #f="ngForm" (ngSubmit)="login(f)" class="my-login-validation">

						<!----------------------------- username input ------------------------->
						<div class="form-group">
							<label for="usrname" >Username</label>
							<input ngModel name="username" #name="ngModel" type="email" class="form-control" id="email" required	autofocus>
							<div class="invalid-feedback"> Email is invalid </div>
						</div>

						<!----------------------------- password input ------------------------->
						<div class="form-group">
							<label for="password">Password</label>
							<input ngModel name="password" #password="ngModel" id="password" type="password" class="form-control" name="password" required data-eye>
							<div class="invalid-feedback"> Password is required </div>
						</div>

						<!----------------------------- remember me checkbox ------------------------->
						<div class="form-group">
							<div class="custom-checkbox custom-control">
								<input type="checkbox" name="remember" id="remember" class="custom-control-input">
								<label for="remember" class="custom-control-label">Remember Me</label>
							</div>
						</div>

						<!----------------------------- login button ------------------------->
						<div class="form-group m-0">
							<button type="submit" class="btn btn-primary btn-block">Login</button>
						</div>

					</form>
					<br>
					<!----------------------------- links  ------------------------->
					<div class="mt-4 text-center">
						Don't have an account? <a routerLink="/signup">Create One</a>
						<br>
						<br>
						<a  routerLink="#" class="float-left">	Forgot Password?</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>