<div class="container mt-5 mb-5">
    <div class="row">
      <!-- Put Grid System-->0
      <div class="col-md-4 mt-3"> <!-- md== Merge-->
        <app-card></app-card>      
      </div>
      
      <div class="col-md-4 mt-3">
        <app-card></app-card>  
    </div>
    
    <div class="col-md-4 mt-3">
        <app-card></app-card>  
    </div>
    
    <div class="col-md-4 mt-3">
        <app-card></app-card>  
    </div>
      
    <div class="col-md-4 mt-3">
        <app-card></app-card>  
    </div>
      
    <div class="col-md-4 mt-3">
        <app-card></app-card>  
    </div>
  <div class="container">
  </div>